<div class="container">
  <div class="row my-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">首頁</a></li>
        <li class="breadcrumb-item active" aria-current="page">新增餐廳</li>
      </ol>
    </nav>

    {{#if error}}
    <div class="alert alert-warning" role="alert">
      {{error}}
    </div>
    {{/if}}

    <form action="/restaurant" method="POST" autocomplete="off" encType="multipart/form-data">
      <div class="input-group mb-3">
        <span class="input-group-text">餐廳名稱*</span>
        <input type="text" class="form-control" id="name" name="name" value="{{ userInput.name }}" required>
      </div>

      <div class="input-group">
        <label class="input-group-text" for="image">照片</label>
        <input type="file" class="form-control" id="image" name="image" accept="image/png, image/jpeg" aria-describedby="imageHelp">
      </div>
      <div id="imageHelp" class="form-text mb-3">選擇不上傳照片時，系統會自動提供預設圖片</div>

      <div class="input-group mb-3">
        <span class="input-group-text">評分*</span>
        <input type="number" class="form-control" id="rating" name="rating" step="0.1"
          min="0" max="10" value="{{ userInput.rating }}" required>
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="category">類型*</label>
        <input type="text" class="form-control" name="category" list="categoryList" value="{{ userInput.category }}" required>
        <datalist id="categoryList">
          {{#each categories}}
          <option value="{{this}}">{{this}}</option>
          {{/each}}
        </datalist>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">電話*</span>
        <input type="tel" class="form-control" id="phone" name="phone" value="{{ userInput.phone }}" required>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">地址*</span>
        <input type="text" class="form-control" id="location" name="location" value="{{ userInput.phone }}" required>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Google Map</span>
        <input type="url" class="form-control" id="google_map" name="google_map" value="{{ userInput.google_map }}">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">描述*</span>
        <textarea class="form-control" id="description" name="description" rows="5"
          cols="10" required>{{ userInput.description }}</textarea>
      </div>
      <button class="btn btn-primary" type="submit">送出</button>
    </form>
  </div>
</div>